<!-- EVENTS PAGE --> 

<!-- DELETE JS SCRIPT -->
<script src="./js/event/delete_event.js"></script>

<div style="margin-top:50px; margin-bottom: 100px;">
	<div class="container">
		<div class="row table-responsive align-middle">

			<!-- ADD MENU BUTTON -->
            <a onclick="window.location='/addMenu'+window.location.search;"><button class="btn btn-outline-secondary btn-circle mb-5" type="submit" align=left> x </button></a>
			
			<!-- EVENTS -->
			<h1>Events</h1>
			<br>
			<p>View, edit or delete your event details:</p>

			<!-- ADD BUTTON -->
			<table>
				<tr>
					<td colspan="6" align="left">
					<button class="btn btn-primary mt-3 mb-3"  data-bs-toggle="modal" data-bs-target="#addEventModal">Add A New Event + </button>
					<br>
					</td>
				</tr>
				</tbody>
			</table>

			<!-- DATA TABLE -->
			<table class="table" id="events-table">
				<thead class="table-light text-nowrap">
					<th>Event Title</th>
                	<th>Date</th>
					<th>Time</th>
                	<th>Type</th>
					<th>Delete</th>
                	<th>Edit</th>
					</tr>
				</thead>
				<tbody>
					{{#each data}}
					<tr data-value={{this.event_id}}>
					<td>{{this.event_title}}</td>
					<td>{{this.eventDate}}</td>
					<td>{{this.eventTime}}</td>
					<td>{{this.event_type}}</td>

					<!-- DELETE BUTTON-->
					<td><a href="#deleteEventModal" class="delete" data-bs-toggle="modal" data-bs-target="#deleteEventModal{{this.event_id}}"  data-value="{{this.event_id}}">
					<button class="btn btn-outline-danger my-2 my-sm-0" >Delete</button></a></td>
					
					<!-- EDIT BUTTON-->
					<td><a href="#editEventModal" class="update" data-bs-toggle="modal" data-bs-target="#editEventModal{{this.event_id}}"  data-value="{{this.event_id}}">
					<button class="btn btn-outline-warning my-2 my-sm-0" >Edit</button></a></td>
					</tr>
					{{/each}}
				</tbody>
			</table>

			<!-- MY ITINERARY BUTTON -->
            <a onclick="window.location='/myItinerary'+window.location.search;"><button class="btn btn-outline-primary mb-5" type="submit" align=left>My Itinerary &#8680;</button></a>

		</div>
	</div>
</div>

<!-- ADD MODAL -->
<div id="addEventModal" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="add-event-form-ajax">
				<div class="modal-header">						
					<h4 class="modal-title">Add Event</h4>
					<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
				<p style="color:red;">Required Fields *</p>						
					<div class="form-group">
						<label for="event_title">Event Title *</label>
						<input type="text" class="form-control" name="input-event_title" id="input-event_title" required>
					</div>
					<div class="form-group">
						<label for="event_date">Event Date *</label>
						<input type="date" class="form-control"  name="input-event_date" id="input-event_date" required>
					</div>					
					<div class="form-group">
						<label for="event_time">Event Time *</label>
						<input type="time" class="form-control" name="input-event_time" id="input-event_time" required>				
				</div>
				<div class="form-group">
						<label for="event_type">Event Type *</label>
						<input type="text" class="form-control" name="input-event_type" id="input-event_type" required>				
				</div>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-outline-warning" data-bs-dismiss="modal" value="Cancel">
					<input type="submit" class="btn btn-success" value="Add">
				</div>
			</form>
		</div>
	</div>
</div>

<!-- ADD JS SCRIPT -->
<script src="./js/event/add_event.js"></script>

<!-- EDIT MODAL -->
{{#each data}}
<div id="editEventModal{{this.event_id}}" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="edit-event-form-ajax">
				<div class="modal-header">						
					<h4 class="modal-title">Edit Event</h4>
					<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<p style="color:red;">Required Fields *</p>						
					<div class="form-group">
						<label for="event_id">
						<input type="hidden" name="event_id-update" id="event_id-update" value={{this.event_id}}>
						</label>

						<label for="event_title">Event Title *</label>
						<input type="text" class="form-control" name="input-event_title-update" id="input-event_title-update" value="{{this.event_title}}" required/>
					</div>
					<div class="form-group">
						<label for="event_date">Event Date *</label>
						<input type="text" class="form-control"  name="input-event_date-update" id="input-event_date-update" value="{{this.eventDate}}" onfocus="(this.type='date')" onblur="(this.type='text')" required/>
					</div>					
						<div class="form-group">
						<label for="event_time">Event Time *</label>
						<input type="text" class="form-control" name="input-event_time-update" id="input-event_time-update" value="{{this.eventTime}}" onfocus="(this.type='time')" onblur="(this.type='text')" required/>				
					</div>
					<div class="form-group">
						<label for="event_type">Event Type *</label>
						<input type="text" class="form-control" name="input-event_type-update" id="input-event_type-update" value="{{this.event_type}}" required/>				
					</div>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-outline-warning" data-bs-dismiss="modal" value="Cancel">
					<input type="submit" class="btn btn-outline-success" value="Save Changes" onclick="updateEvent({{this.event_id}})">
				</div>
			</form>
		</div>
	</div>
</div>
{{/each}}

<!-- UPDATE JS SCRIPT -->
<script src="./js/event/update_event.js"></script>


	<!-- DELETE MODAL -->
	{{#each data}}
	<div id="deleteEventModal{{this.event_id}}" class="modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">Delete Event</h4>
						<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<p><b>Are you sure you want to delete this event?</b></p>
						<p>This action cannot be undone.</p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn btn-outline-warning" data-bs-dismiss="modal" value="Cancel">
						<input type="submit" class="btn btn-outline-danger" value="Delete" onclick="deleteEvent({{this.event_id}})">
					</div>
				</form>
			</div>
		</div>
	</div>
	{{/each}}