<!-- MY ITINERARY PAGE -->
<div class="table-responsive">
  <div class="table-wrapper">		
    <div style="margin-top:50px; margin-bottom: 100px;">
      <div class="container">
        <div class="row table-responsive align-middle">

          <!--BACK BUTTON -->
			    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" onclick="window.location='/addMenu'+window.location.search;"> x </button>

          <!-- TRIP DETAILS -->
          <h1><br>Travel Itinerary</h1>

          <!-- FLIGHTS-->
          <h2><br>Flights</h2>
          <table class="table" > 
              <thead class="table-light text-nowrap">
                <tr>
                <th>Departing</th>
                <th>Date</th>
                <th>Time</th>
                <th>Arrival</th>
                <th>Date</th>
                <th>Time</th>
                </tr>
              </thead>
              <tbody>
                {{#each data1}}
                <tr>
                  <td>{{this.depart_airp}}</td>
                  <td>{{this.departDate}}</td>
                  <td>{{this.departTime}}</td>
                  <td>{{this.arrive_airp}}</td>
                  <td>{{this.arriveDate}}</td>
                  <td>{{this.arriveTime}}</td>
              </tr>
              {{/each}}
              </tbody>
          </table>
          
          <!-- MODIFY FLIGHTS -->
			    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" onclick="window.location='/addFlights'+window.location.search;"> Modify Flights  &#8680;</button>

          <!-- HOTELS -->
          <h2><br>Hotels</h2>
          <table class="table" >
              <thead class="table-light">
                  <tr>
                    <th>Hotel</th>
                    <th>Address</th>
                    <th>Check-In</th>
                    <th>Check-In</th>
                    <th>Check-Out</th>
                    <th>Check-Out</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    {{#each data3}}
                    <td>{{hotel_name}}</td>
                    <td>{{hotel_address}}</td>
                    <td>{{inDate}}</td>
                    <td>{{inTime}}</td>
                    <td>{{outDate}}</td>
                    <td>{{outTime}}</td>
                  </tr>
                  {{/each}}
              </tbody>
          </table>
          <!-- MODIFY HOTELS -->
			    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" onclick="window.location='/addHotels'+window.location.search;"> Modify Hotels  &#8680;</button>

          <!-- EVENTS -->
          <h2><br>Add Events</h2>
          <table class="table" >
              <thead class="table-light">
                  <tr>
                    <th>Event Title</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Type</th>
                  </tr>
                  </thead>
                  <tbody>
                    {{#each data2}}
                    <tr>
                    <td>{{event_title}}</td>
                    <td>{{eventDate}}</td>
                    <td>{{eventTime}}</td>
                    <td>{{event_type}}</td>
                  </tr>
                  {{/each}}
              </tbody>
          </table>

          <!-- MODIFY EVENTS -->
			    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" onclick="window.location='/addEvents'+window.location.search;"> Modify Events  &#8680;</button>

        </div>
      </div> 
    </div>
  </div>
</div>
